body, div {
  display: flex;
  flex-direction: column; }

body {
  margin: 0;
  overflow-x: hidden; }

ul {
  -webkit-margin-before: 0px;
  -webkit-marghin-after: 0px;
  -webkit-padding-start: 0px;
  display: flex;
  flex-direction: column; }

nav, footer, h1, h2, h3, h4, h5, h6, i, span {
  display: flex; }

body {
  background-color: #009688;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: #000; }

.content {
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.container {
  flex-direction: column;
  margin-top: 30px;
  align-items: center; }

#jumbotron {
  margin-top: 10vh; }
  #jumbotron .jumbotron-bg {
    width: 80vw;
    height: auto;
    background-image: url("/img/project2.jpg");
    background-repeat: no-repeat;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #666; }
    #jumbotron .jumbotron-bg .container {
      padding: 10px 20px;
      margin: 30vh auto;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      box-shadow: 1px 1px 1px #666;
      background-color: rgba(255, 255, 255, 0.7);
      max-width: 80%; }
      #jumbotron .jumbotron-bg .container ul {
        flex-direction: row; }
  @media screen and (max-width: 1070px) {
    #jumbotron .jumbotron-bg .container {
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 30vh 0;
      max-width: none; }
      #jumbotron .jumbotron-bg .container ul {
        flex-direction: column; } }

#aboutMe .container {
  background-color: #FFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #666;
  width: 80vw; }

#projects .container {
  width: 80vw;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap; }
@media screen and (max-width: 1070px) {
  #projects .highlight {
    flex-direction: column; }
    #projects .highlight img {
      width: 100%;
      height: auto; } }

#contact {
  display: flex; }
  #contact .container {
    width: 80vw; }
    #contact .container .forms {
      width: 100%; }
      #contact .container .forms input {
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px #666;
        background-color: #FFF;
        margin-bottom: 10px;
        padding: 12px 20px;
        font-size: 1.8em; }
        #contact .container .forms input :focus {
          box-shadow: 4px 4px 4px #666; }
      #contact .container .forms textarea {
        display: flex;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px #666;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8em; }
      #contact .container .forms input[type=button], #contact .container .forms input[type=submit], #contact .container .forms input[type=reset] {
        background-color: #FFA000;
        text-align: center;
        text-decoration: none;
        border-style: solid;
        border-color: #FFA000;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px #666; }
      #contact .container .forms input[type=email] {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      #contact .container .forms input[type=button]:hover, #contact .container .forms input[type=submit]:hover, #contact .container .forms input[type=reset]:hover {
        background-color: #FF6F00;
        border-color: #FF6F00; }

.footer {
  width: 100%;
  align-items: center;
  background-color: #00695c;
  padding: 20px 0 10px 0;
  margin-top: 30px; }
  .footer ul {
    list-style: none;
    flex-direction: row; }
    .footer ul li {
      margin-right: 10px;
      font-size: 1.4em;
      font-weight: bold;
      text-transform: uppercase; }

.btn {
  background-color: #FFA000;
  opacity: 1.0;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #666;
  display: inline-flex;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 1.1em;
  cursor: pointer; }
  .btn i {
    margin-right: 5px; }

.btn:hover {
  background-color: #FF6F00;
  border-color: #FF6F00; }

#navbar {
  position: fixed;
  margin: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: baseline;
  flex-flow: row;
  background-color: #00695c;
  height: 5vh;
  padding: 20px 0px 0px 0px; }
  #navbar ul {
    list-style: none;
    flex-direction: row; }
    #navbar ul li {
      margin-right: 10px;
      font-size: 1.6em;
      font-weight: bold;
      text-transform: uppercase; }
  #navbar .open-slide {
    margin-left: 20px; }
  #navbar .navbar-nav {
    margin-left: 10px; }

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }
  .side-nav li {
    margin: 8px 0 0 0; }
  .side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #ccc;
    transition: 0.3s; }
  .side-nav a:hover {
    color: #fff; }
  .side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 1.8em;
    margin-left: 50px; }

.content {
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 100%; }

@media screen and (max-width: 1070px) {
  .navbar-nav {
    display: none; } }
.card {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #666;
  background-color: #FFF;
  padding: 0 10px 10px 10px;
  width: 250px;
  margin-bottom: 10px;
  margin-right: 3px; }
  .card img {
    width: 100%;
    height: auto; }
  .card p {
    display: none; }
  .card .btn {
    align-self: center; }

.card.highlight {
  order: -1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  padding-bottom: 20px; }
  .card.highlight h3 {
    width: 100%; }
  .card.highlight img {
    width: 30%;
    height: auto; }
  .card.highlight p {
    display: inherit;
    margin-left: 20px; }
  .card.highlight .btn {
    display: none; }

/*# sourceMappingURL=main.css.map */
