*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../MaterialIcons-Regular.woff2) format('woff2'),
    url(../MaterialIcons-Regular.woff) format('woff'),
    url(../MaterialIcons-Regular.ttf) format('truetype');
}

body {
  background: $background-color;
  @include flexit;
  flex-direction: column;
}

h1 {
  color: $content-header-color;
}

a{
  text-decoration: none;
  color: $content-color;
}
