.container{
  width: 90%;
  margin: auto;
}

#section1 {
  background-color: $primary-color;
  text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;

  p{
    padding-top: 10px;
  }

  ul {
    li{
      display: inline-block;
    }
  }
}

#section2{
  
}

#section3{

  ul {
    li{
      display: inline-flex;

      .card{
        @include border-radius(1px);
        @include box-shadow(1px);

        border-style: solid;
        border-color: $secondary-color;

        background-color: $secondary-color;

        padding: 30px;
        margin: 10px;

        width: 320px;
        height: 210px;

        img{
          width: 320px;
          height: 180px;
        }
      }
    }
  }
}
