.container{

}

#section1 {
  display: flex;
  flex-direction: column;
  .container{
      justify-content: center;
      align-items: center;
      align-self: center;
      max-height: 50%;
      max-width: 50%;
  }

  background-color: $primary-color;


  p{
    padding-top: 10px;
  }
}

#section2{

}

#section3{
  align-items: center;
  list-style: none;
  ul {
    @include flexit-center;
    li{
      display: inline-flex;
      flex-wrap: wrap;

      .card{
        @include border-radius(1px);
        @include box-shadow(1px);

        border-color: $secondary-color;

        background-color: $secondary-color;

        padding: 10px;
        margin-bottom: 20px;
        margin-right: 15px;

        width: 256px;
        height: 250px;

        img{
          width: 236px;
          height: 180px;
        }
      }
    }
  }
}
