@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($depth){
  box-shadow: $depth $depth $depth $box-shadow-color;
}

@mixin flexit{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flexit-center{
  -webkit-justify-content: center;
  justify-content: center;
}
