//Primary colors:
$white: #FFF;

//used colors:
$primary-color: #009688;

$secondary-color: #FFA000;
$background-color: $white;

$content-color: #000;
$content-header-color: #009;

$box-shadow-color: #888;
