.btn{
  background-color: $secondary-color;
  opacity: 1.0;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;

  @include material-std;

  display: inline-flex;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 1.1em;

  i{
    margin-right: 5px;
  }
  cursor: pointer;
}

.btn:hover{
  background-color: $secondary-color-darker;
  border-color: $secondary-color-darker;
}
