.btn{
  background-color: $secondary-color;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;

  @include material-std($secondary-color);

  display: inline-block;

  margin-left: 5px;
  font-size: 1.1em;

  i{
    margin-right: 5px;
  }
}

.btn:hover{
  background-color: $secondary-color-darker;
  border-color: $secondary-color-darker;
}
