.card{
  flex-grow: 1;
  @include material-std($background-color);

  background-color: $background-color;

  padding: 10px;
  margin-bottom: 20px;
  margin-right: 5px;

  h1,h2,h3,h4,h5,h6{
    text-align: center;
  }

  img{
    max-width: 100%;
    height: auto;
  }
}
