 .card-item{
  padding: 0 0 30px 0;
  display: flex;
  flex-grow: 1;
  width:100%;

    @media all and (min-width:40em){
      padding: 0.5em;
      width:50%;
      flex-grow: 0;
  }


  @media all and (min-width:60em){
      padding: 0.5em;
      width:30%;
      flex-grow: 0;
  }
}



.card-content{
  @include material-std;
  background-color: $background-color;
  display:flex;
  flex-direction: column;
  padding: 1em;

  p{
    flex: 1 0 auto;
  }

}
