#navbar{
  margin:auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  background-color: $primary-color-darker;
  height: 10vh;

  .navbrand{
    margin-left: 10px;
  }

  .open-slide{
    margin-left: 20px; 
  }

  .navbar-nav{
    margin-left: 10px;
    ul{
      list-style: none;
      li{
        margin-right: 10px;

        font-size: 1.2em;
        font-weight: bold;

        text-transform: uppercase;
      }
    }
  }
}
