.navigation{
  margin:auto;
  justify-content: space-between;
  flex-direction: row;
  background-color: $primary-color-darker;
  align-items: center;
  height: 10vh;

  .navbrand{
    margin-left: 10px;
  }

    .navmenu{
      ul{
        list-style: none;
        display: inline-flex;
        li{
          margin-right: 10px;

          font-size: 1.4em;
          text-transform: uppercase;

          background-color: $primary-color-darker;
        }
      }
    }
}
