.content{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container{
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  width: 100%;

  @media all and (min-width:40em){
    width:80vw;
  }
}
