.container{

  align-self: center;

  @include material-std($white);

  background-color: $white;
  padding: 10px 20px;
  }

#section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 90vh;

  p{
    font-size: 24px;
    font-weight: bold;
  }
}

#section2{
  margin:auto;
  @include flexit-center;
  flex-direction: column;
  height: 100vh;

  p {
    max-width: 720px;
    font-size: 20px;
  }
}

#section3{
  margin: auto;
  height: 100vh;

  ul {
    display: inline-flex;
    @include flexit-center;
    flex-flow: row wrap;
    li{
      list-style: none;
    }
  }
}
