body, div{
  display:flex;
  flex-direction: column;
}

body {
  margin:0;
  overflow-x:hidden;

}

ul{
  -webkit-margin-before:0px;
  -webkit-marghin-after:0px;
  -webkit-padding-start:0px;
  display: flex;
  flex-direction: column;
}

nav, footer,h1,h2,h3,h4,h5,h6,i,span{
  display:flex;
}
