#contact{
      display: flex;
  .container{
    width: 80vw;
    .forms{
      width:100%;
      input{
        @include material-std;
        background-color: $white;

        margin-bottom: 10px;
        padding:12px 20px;

        font-size: 1.8em;

        :focus{
          @include box-shadow(4px);

        }

      }

      textarea{
        display: flex;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding:12px 20px;
        @include material-std;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8em;
      }

      input[type=button], input[type=submit], input[type=reset]{
        background-color: $secondary-color;
        text-align: center;
        text-decoration: none;

        border-style: solid;
        border-color: $secondary-color;
        @include material-std;

      }

      input[type=email]{
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
        background-color: $secondary-color-darker;
        border-color: $secondary-color-darker;
      }
    }
  }

}
