#jumbotron{

  a{
    text-decoration: none;
    color: $content-color;
  }

  display:flex;
  justify-content: center;
  margin-top: 90px;
  width:100%;

  .jumbotron-bg{
    width:100%;

    background-image: url("/img/jumbotron-bgp.jpg");
    background-size: cover;
    background-repeat:no-repeat;

    @include border-radius(2px);
    @include box-shadow(1px);
    .container{
      margin:0;
      padding: 20vh 0;
      font-size: 120%;
      h2{
        margin: 0 10%;
        align-self: center;
      }
      @include material-std;
      background-color: $jumbotron-bg;

      ul{
      flex-direction: column;
      }
    }
  }

  @media all and (min-width:40em){
    .jumbotron-bg{
        width:80vw;
      }
    }


    @media all and (min-width:60em){
      .jumbotron-bg .container{
            ul{flex-direction: row;}
      }
    }
}
